/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 482px) {
  .noMatch {
    font-size: 23px;
  }
  .noMatchP {
    font-size: 13px;
  }
}
@media (min-width: 992px) {
  .formSize {
    max-width: 75%;
  }
}

.dark-theme {
  background-color: #1f1f1f;
}
.darkBanner {
  background-color: #0f0f0f;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.imgDetail {
  max-width: 100%;
  max-height: 100%;
}

.itemDetail {
  margin-bottom: 150px;
}
.imgJumbo {
  background-image: url("./img/Banner_2.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 50vh;
}
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.459);
}

.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  color: rgba(255, 255, 255, 0.925);
  line-height: 1.5;
}

#cartNumber {
  margin-left: -25px;
}
.swal2-confirm,
.swal2-cancel {
  margin: 0 6px;
}

.m-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.m-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}
