.dark-theme {
  background-color: #1f1f1f;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.imgDetail {
  max-width: 100%;
  max-height: 100%;
}

.itemDetail {
  margin-bottom: 150px;
}
